{% extends 'base.html' %}

{% block title %} Formula {% endblock %}

{% block content %}

    <div class="container my-5">
      <div class="card text-center">
        <div class="card-header">
          Error
        </div>
        <div class="card-body">
          <h5 class="card-title">Page not found</h5>
            <p class="card-text">Please try to go to one of the sections in the menu.</p>
            <p class="card-text">So far, this is all we can offer</p>
            <a class="btn text-light to-search-btn" role="button">Back to search</a>
        </div>
      </div>
    </div>

{% endblock %}

