{% extends 'base.html' %}

{% block title %} Формула {% endblock %}

{% block content %}

    <div class="container my-5">
      <div class="card text-center">
        <div class="card-header">
          Ошибка
        </div>
        <div class="card-body">
          <h5 class="card-title">Страница не найдена</h5>
            <p class="card-text">Пожалуйста, попробуйте перейти в один из разделов в меню.</p>
            <p class="card-text">Пока это все, что мы можем предложить</p>
            <a class="btn text-light to-search-btn" role="button">Вернуться к поиску</a>
        </div>
      </div>
    </div>

{% endblock %}

